
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
/* inicio do header */
.logo-header {
    width: 80px;
    margin-top: 15px;
    margin-left: 60px;
}
.contact-us{
    display: none;
}
header {
    display: flex;
    padding: 30px;
    align-items: center;
}
nav {
    display: flex;
    margin-left: 15px;
}
ul{
    display: flex;
    list-style: none;
    margin-left: 120px;
}

.nav-list {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.nav-list li:hover {
    opacity: 0.8;
}
.nav-list li.active {
    opacity: 0.9%;
}
li{
    margin-top: 15px;
    margin-left: 60px;
}

.button-header {
    margin-left: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #f869cc;
    cursor: pointer;
}
/* fim do header */

/* inicio do main */

.nav-main {
    border: black solid 6px;
}
.div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 800px;
    background-image: url("./assets/backgroud-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.div-presentation {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height: 300px;
    background-color: rgba(19, 17, 17, 0.3);
    margin-top: 18%;
}
.div-presentation h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFFFF;
}
.div-presentation p {
    text-align: justify;
    font-size: 36px;
    font-style: initial;
    color: #ffffff;
}
.button-main {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #f869cc;
    cursor: pointer;
}
.button-main:hover {
    opacity: 0.8;
}
.button-main:active {
    opacity: 0.8;
}
.title-hero{
    text-align: center;
    margin: 20px 0 30px 0;
    font-size: 40px;
    font-style: italic;
    color: #231f1f;
}

.showcase-hero img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
}
.showcase-hero {
    display: flex;
}

.cake-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}
.cake-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}
.cake-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}
.cake-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}
.button-cake {
    margin-top: 20px;
    font-size: 16px;
    height: 50px;
    width: 120px;
    border: none;
    background-color: #f869cc;
    cursor: pointer;
    border-radius: 12px;
    color: #ffffff;
    text-align: center;
    font-style: initial;
    font-weight: bold;
}
/* fim do main */

/* inicio do footer */
footer {
    background-color: rgba(238, 231, 231, 0.97);
}

footer img {
    width: 50px;
    margin-right: 10px;
}
.deliveries-footer{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}
.operation-footer {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}
.contact-footer h3{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
.social-media-whatsapp {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    align-items: center;
}

.social-media-whatsapp  a {
    text-decoration: none;
    font-size: 18px;
    color: #534067;
    margin-left: 5px;
    font-weight: bold;
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.social-media img {
    align-items: center;
}
.social-media a {
    text-decoration: none;
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.copyright {
    background-color: #dea2f8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    font: bold 14px/1.5 "Lato", sans-serif;
}
.copyright img {
    width: 50px;
    height: 50px;
}

.back-to-top {
    text-decoration: none;
    font-size: 16px;
    color: #534067;
    margin-top: 30px;
}

/* fim do footer */

/* Inicio do midia query*/

@media screen and (max-width: 800px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: black solid 6px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        height:80px;
    }
    .nav-main {
        border: cornsilk solid 6px;
    }

    .logo-header{
      display: none;
    }

    .contact-us{
        display:revert;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: #f869cc;
        padding: 10px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        margin-top: 10px;
    }

    #nav-bar {
        display: none;
    }

    .button-header {
        display: none;
    }

    .div-main{
        width: 100%;
        height: 500px;
    }

    .div-presentation h1 {
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        color: #ffffff;
        text-shadow: #534067 0 0 15px;
    }
    .div-presentation p {
        font-size: 24px;
        width: 75%;
        text-shadow: #534067 0 0 15px;


    }

    .button-main {
        margin-top: 10px;
        font-size: 12px;
        padding: 12px;

    }
    .hero {
        display: flex;
        flex-direction: column;

    }
    .title-hero {
        font-size: 24px;
        align-items: center;
    }
    .showcase-hero img{
        width: 180px;
        height: 160px;
    }
    .showcase-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width:100%;
    }
    .showcase-hero p {
        font-size: 14px;
        width: 70%;
    }
    .button-cake {
        margin: 10px 0 50px 0;
        font-size: 12px;
        width: 90px;
    }
    .div-presentation {
        background-color: rgba(19, 17, 17, 0);
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: #231f1f;
    }
    .deliveries-footer{
        width: 80%;
    }

    .contact-footer {
        width: 90%;
    }
    .contact-footer a {
        font-size: 16px;
    }
}